<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peait.spider.mapper.GjStreetMapper">
  <resultMap id="BaseResultMap" type="com.peait.spider.entity.GjStreet">
    <id column="street_id" jdbcType="VARCHAR" property="streetId" />
    <result column="district_id" jdbcType="VARCHAR" property="districtId" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="update_status" jdbcType="INTEGER" property="updateStatus" />
    <result column="query_url" jdbcType="VARCHAR" property="queryUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    street_id, district_id, street_name, update_status, query_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gj_street
    where street_id = #{streetId,jdbcType=VARCHAR}
  </select>
    <select id="selectByUpdateStatus" resultType="com.peait.spider.entity.GjStreet">
      select
      <include refid="Base_Column_List" />
      from gj_street
      where update_status = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gj_street
    where street_id = #{streetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.peait.spider.entity.GjStreet">
    insert into gj_street (street_id, district_id, street_name, 
      update_status, query_url)
    values (#{streetId,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, #{streetName,jdbcType=VARCHAR}, 
      #{updateStatus,jdbcType=INTEGER}, #{queryUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peait.spider.entity.GjStreet">
    insert into gj_street
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="streetId != null">
        street_id,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="streetName != null">
        street_name,
      </if>
      <if test="updateStatus != null">
        update_status,
      </if>
      <if test="queryUrl != null">
        query_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="streetId != null">
        #{streetId,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null">
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="updateStatus != null">
        #{updateStatus,jdbcType=INTEGER},
      </if>
      <if test="queryUrl != null">
        #{queryUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peait.spider.entity.GjStreet">
    update gj_street
    <set>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null">
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="updateStatus != null">
        update_status = #{updateStatus,jdbcType=INTEGER},
      </if>
      <if test="queryUrl != null">
        query_url = #{queryUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where street_id = #{streetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peait.spider.entity.GjStreet">
    update gj_street
    set district_id = #{districtId,jdbcType=VARCHAR},
      street_name = #{streetName,jdbcType=VARCHAR},
      update_status = #{updateStatus,jdbcType=INTEGER},
      query_url = #{queryUrl,jdbcType=VARCHAR}
    where street_id = #{streetId,jdbcType=VARCHAR}
  </update>
</mapper>